html, body {
    margin: 0;
    padding: 0;
  }

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%
  }


  .slick-slide {
    margin: 0px 15px;;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
}
header {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

header .row {
    justify-content: space-between;
}

header nav {
    display: flex;
    align-items: center;
}

 ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
    padding: 0px 15px;
}

 ul li a {
    color: #fff;
    text-decoration: none;
}

header nav .menu{
    display: flex;
}

.row {
    display: flex;
}

.row .col {
    flex: 1;
    padding: 15px;
}

.row .is-small {
    max-width: 25%;
}


@media (max-width: 762px) {
    .row {
        flex-direction: column;
    }

    .row .is-small {
        max-width: initial;
    }
}

.row .col .col-content {
    background: #333;
}

#content h1 {
    text-align: center;
    text-decoration: underline;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
/* Dropdown Button */
.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #ddd;}
  
  .slide{
      position: relative;
  }
  h2 {
    position: absolute;
    top: 80%;
    left: 30%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-size: 46px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    text-transform: uppercase;
   }
   .container2 {
    position: relative;
  }
  
  /* Bottom right text */
  .text-block {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 55%;
    background-color: lightgray;
    padding-left: 20px;
    color: black;
    padding-right: 20px;
    opacity: 0.7;
  }
  .text-block2 {
    position: absolute;
    bottom: 100px;
    left: 20px;
    width: 25%;
    background-color: lightgray;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.7;
  }

  h4{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
  }
  h1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
  }
.ribbon-holder{
    overflow: hidden;
    position: relative;
}
.ribbon{
	position: absolute;
	background: lightgray;
    color: black;
    font-weight: bold;
    transform: rotate(45deg);
    text-align: center;
    top: 30px;
    right: -32px;
    width:145px;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 762px) {
    .row {
        flex-direction: column;
    }

    .row .is-small {
        max-width: initial;
    }

}

.row .col .col-content {
    background: #333;
}

#content h1 {
    text-align: center;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
* {
    box-sizing: border-box;
  }

  .slick-slide {
    margin: 0px 15px;;
  }

  .slick-slide img {
    width: 100%;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }
  
  .slick-active {
    opacity: .5;
  }

  .slick-current {
    opacity: 1;
  }
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #333;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 600px) {
    .topnav .nav-item:not(.icon) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive .nav-item {
      float: none;
      display: block;
      text-align: left;
    }
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 26px;
    border: none;
    outline: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    height: 60px;
    width: 60px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  .paginator-center{
    display: flex;
  justify-content: center;
  }
  ul#arrows li {
    display:inline;
  }
  .news{
    background-color: lightgray;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 40%;
    margin-right: 40%;
    font-family: Arial, Helvetica, sans-serif;
  }